.btn-trek {
	border-radius: 10%;
	font-weight: bold;
}

.progress-bar-setup {
	width: 100%;
	min-width: 4em;
	font-weight: bold;
	color: black;
}

.hidden {
	display: none;
}

#trekCanvas
{
	background: black;
	width: 100vw;
}

#federationFrame
{
	background-color: blue;
}

#romulanFrame
{
	background-color: green;
}

#redAlertButton
{
	background-color: red;
}

#phaserButton
{
	background-color: yellow;
}

#quantumButton
{
	background-color: magenta;
}

#shieldsButton
{
	background-color: magenta;
}

#engineeringButton
{
	background-color: yellow;
}

#romulanRedAlertButton
{
	background-color: cyan;
}

#disruptorButton
{
	background-color: lime;
}

#plasmaButton
{
	background-color: palegoldenrod;
}

#romulanShieldsButton
{
	background-color: palegoldenrod;
}

#romulanEngineeringButton
{
	background-color: lime;
}

@-webkit-keyframes redAlert
{
	0%
	{
		background: red;
	}
	100%
	{
		background: black;
	}
}

@-webkit-keyframes romulanRedAlert
{
	0%
	{
		background: green;
	}
	100%
	{
		background: black;
	}
}